td.shiftRight
	{
  text-align: right; 
	}
td.spacingOutin
	{
  text-align: top; 
  border-color: white;
  border-bottom: 10px;
  padding-bottom: 25px
	}
td.blankLast
	{
  color: #023c78;
	}
td.matchesDivider
	{
        padding-bottom: 25px
}
div.a {
  width: 800px;
  nowrap;	
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.a {
  border-style: double;
  border-color: white;
  width: 800px;
  font-family:"arial";
  background-color: white;
  color: #023c78;
  text-align: center; 
  vertical-align: middle;
}
td.tblheader {
  width: 7px;
  font-size: 11px;
  padding-top: 25px
}
  td.fixwidth {
  font-size: 7px;
  width: 7px;
}
